.app {
  display: flex;
}

.notes-list {
  width: 20%;
  background-color: #333;
  color: white;
  padding: 20px;
}

.note-editor {
  width: 80%;
  padding: 20px;
}

.note-preview {
  background-color: #222;
  padding: 20px;
  margin-bottom: 20px;
}

.note-edit input, .note-edit textarea {
  width: 100%;
  margin-bottom: 10px;
}
